.delimeter{
  border: none; /* Убираем границу для браузера Firefox */
  color: #DCDCDC; /* Цвет линии для остальных браузеров */
  background-color: #DCDCDC; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}

.bookingForm {
  margin-top: 20px;
  height: 100%;
  width: 1200px;
}

.bookingFormRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.bookingFormRow:not(:first-of-type){
  margin-top: 35px;
}

.bookingFormRowTitle{
  font-size: 17px;
  font-weight: 500;
}

.bookingFormRowContent{
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.bookingFormSchedulePicker {
  display: flex;
  flex-direction: column;
}

.bookingFormSchedulePicker > div:first-of-type{
  margin-bottom: 20px;
}

.calendar {
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #DCDCDC;
  padding: 20px;
}

.calendar button{
  border: none;
  padding: 5px;
  background: white !important;
}

.calendar :global(.react-calendar__navigation) {
  justify-content: center;
}

.calendar :global(.react-calendar__navigation__prev2-button),
.calendar :global(.react-calendar__navigation__next2-button) {
  display: none;
}

.calendar :global(.react-calendar__navigation__arrow ) {
  font-size: 28px;
}

.calendar :global(.react-calendar__navigation__arrow:hover),
.calendar :global(.react-calendar__month-view__days__day:not(.react-calendar__month-view__days__day--neighboringMonth):not([disabled]):hover) {
  cursor: pointer;
}

.calendar :global(.react-calendar__navigation__label) {
  max-width: 150px;
}

.calendar :global(.react-calendar__month-view__weekdays__weekday) {
  text-align: center;
}

.calendar :global(.react-calendar__month-view__weekdays__weekday abbr) {
  text-decoration: none;
}

.calendar :global(.react-calendar__month-view__days__day--neighboringMonth),
.calendar :global(.react-calendar__month-view__days__day[disabled]) {
  color: #D3D3D3;
}

.calendar :global(.react-calendar__month-view__days__day) {
  font-size: 16px;
}

.calendar :global(.react-calendar__navigation__label) {
  font-size: 16px;
}

.calendar :global(.react-calendar__month-view__days__day--weekend) {
  color: #E60026
}

.calendar :global(.react-calendar__month-view__days__day--neighboringMonth.react-calendar__month-view__days__day--weekend),
.calendar :global(.react-calendar__month-view__days__day--weekend[disabled]) {
  color: #ffaebb
}

.calendar :global(.react-calendar__tile.react-calendar__tile--active) {
  background-color: #dcd2e9 !important;
}

.bookingVariations {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}

.paymentSummaryContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.paymentSummary{
  max-width: 800px;
  width: 100%;
}

.paymentSummaryRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  color: #4B4453;
}

.paymentSummaryRow:not(:last-of-type){
  margin-bottom: 10px;
}

.delimeterBottomMargin{
  margin-bottom: 10px;
}

.purchaseButton {
  border: none;
  outline: none;
  margin-top: 25px;
  padding: 15px 45px;
  background-color: #E60026;
  color: white;
  font-size: 16px;
}

.purchaseButton:hover{
  cursor: pointer;
  background-color: #af001d;
}