.contactInfo {
  display: flex;
  flex-direction: column;
  width: 100%
}

.contactInfoRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.contactInfoRow:first-of-type{
  margin-bottom: 10px;
}

.textInputContainer{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  max-width: 400px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #DCDCDC;
}

.textInput{
  border: none;
  outline: none;
}