.bookingFormRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.bookingFormRow:not(:first-of-type){
  margin-top: 35px;
}

.bookingFormRowTitle{
  font-size: 17px;
  font-weight: 500;
}

.bookingFormRowContent{
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}