.paymentSummaryContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.paymentSummary{
  max-width: 800px;
  width: 100%;
}

.paymentSummaryRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  color: #4B4453;
}

.paymentSummaryRow:not(:last-of-type){
  margin-bottom: 10px;
}

.delimeter{
  border: none; /* Убираем границу для браузера Firefox */
  color: #DCDCDC; /* Цвет линии для остальных браузеров */
  background-color: #DCDCDC; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}

.delimeterBottomMargin{
  margin-bottom: 10px;
}

.purchaseButton {
  border: none;
  outline: none;
  margin-top: 25px;
  padding: 15px 45px;
  background-color: #E60026;
  color: white;
  font-size: 16px;
}

.purchaseButton:hover{
  cursor: pointer;
  background-color: #af001d;
}