.bookingTimePicker{
  display: flex;
  max-width: 400px;
  max-height: 50px;
  min-height: 30px;
  width: 100%;
  height: 100%;
}

.bookingTimePickerSelect{
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid #DCDCDC;
  font-size: 15px;
}