.creditCardFormContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.creditCardForm{
  max-width: 450px;
}

.inputContainer{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 450px;
  width: 100%;
}

.inputContainer input {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  outline: none;
  border: 1px solid #DCDCDC;
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
}

.row .inputContainer:first-of-type{
  margin-right: 7px;
}

.row .inputContainer:last-of-type{
  margin-left: 7px;
}

.validationError{
  display: flex;
  line-height: 14px;
  font-size: 12px;
  color: #FF8484;
  margin-top: 5px;
}