.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    min-height: 70px;
    width: 100%;
}

.navigation{
    display: flex;
    flex-direction: row;
}

ul.navigation{
    list-style-type: none;
}

.navigation:last-child{
    margin-right: 30px;
}

.navigationItem{
    min-height: 30px;
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 14px;
    color: #4B4453;
}

.navigationItem:hover{
    cursor: pointer;
}

.navigationLink{
    transition: color .3s ease-out;
}

.navigationLink:hover,
.navigationItem:hover{
    color: #845EC2;
}