.guestsNumberPicker, .variationRow{
  display: flex;
  flex-direction: row;
}

.variationRow{
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  max-height: 100px;
  justify-content: space-between;
  align-items: center;
}

.variation {
  display: flex;
  flex-direction: column;
}

.variationName {
  font-weight: 600;
  font-size: 16px;
}

.variationPrice{
  margin-top: 8px;
  font-style: italic;
  font-size: 15px;
}

.guests{
  display: flex;
  align-items: center;
}

.guestsNumberPickerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guestsNumberPicker {
  align-items: center;
  font-size: 15px;
  max-height: 30px;
}

.guestsNumber {
  display: flex;
  justify-content: center;
  height: 100%;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  padding: 4px;
  width: 90px;
}

.guestsButton{
  border: none;
  display: flex;
  padding: 5px 10px;
  border: 1px solid #DCDCDC;
  background-color: #ddd3ea;
}

.guestsButton:hover{
  cursor: pointer;
  background-color: #c7b7dc;
}

.guestsButton.disabled{
  background-color: #DCDCDC;
  cursor: default;
}

.guestsButton.disabled:hover{
  cursor: default;
}

.totalPrice{
  margin-left: 35px;
  font-style: italic;
  font-size: 15px;
  text-align: right;
}

.maxed{
  display: block;
  margin-top: 5px;
  font-size: 13px;
}

.maxed.disabled{
  display: none;
}